@import "../../vars";

.navigation {
    min-width: 15vw;
    background-color: $gray;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    flex: 0 0 auto;
    overscroll-behavior: none;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
  
    .nav-item {
      font: $font-medium;
      margin: 5px 0;
      padding: 10px;
      transition: background-color $transition;
      cursor: $cursor;
  
      &:hover {
        background-color: $gray-hover;
      }
  
      @media (min-width: $mobile) and (max-width: $desktop - 0.1px) {
        font: $font-small;
      }
    }
  
    @media (min-width: $mobile) and (max-width: $tablet - 0.1px) {
      flex-wrap: wrap;
    }
  }
  