@import "./_reset.scss";
@import "./_vars.scss";

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main {
  padding: 50px 0;
  flex: 1 1 auto;
  position: relative;
  left: 16vw;
  right: 0;
  overflow-x: hidden;
}
